@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #111127;
    color: white;
    overflow-x: hidden;
}

.container{
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px, 1fr));
    grid-gap: 0 40px;
    grid-template-rows: auto;
}

.container .box{
    position: relative;
    height: 450px;
    background: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin-bottom: 40px
}

.content{
    position: relative;
    padding: 20px;
}

.box .content h2{
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: rgb(255,255,255,.05);
    transition: 0.5s;
}

.box-shadow{
    -webkit-box-shadow: 13px 11px 29px -14px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 11px 29px -14px rgba(0,0,0,0.75);
box-shadow: 13px 11px 29px -14px rgba(0,0,0,0.75);
}

.box:hover .content h2{
    top: -140px;
}

.box .content h3{
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.box .content p{
    margin:0;
    padding: 0;
    color: white;
    font-size: 16px;
}

.box .content a{
    position: relative;
    margin: 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    color: white;
    transition: 0.5s;
    transform: translateY(-50px);
    opacity: 0;
    visibility: hidden;
}

.box:hover .content a{
     transform: translateY(10px);
    opacity: 1;
    visibility: visible;
}

.box .content a:hover{
    color: black;
    background: #fff;
}


.container .box:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform: skew(2deg,2deg);
    z-index: -1;
}

.container .box:nth-child(1):before{
    background: linear-gradient(315deg, #89ff00,#00bcd4);
}
.container .box:nth-child(2):before{
    background: linear-gradient(315deg, #e91e63,#5d02ff);
}
.container .box:nth-child(3):before{
    background: linear-gradient(315deg, #ff0000,#ffc107);
}
.Typewriter__cursor{
    color: greenyellow;    
}

.Typewriter__wrapper{
    font-size: 26px
}

.main-title{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    height: 60vh;
    position: relative;
}

.main-title-text{
    position: absolute;
    bottom: 0;
    margin-bottom: 13vh;
}

.main-title h2{
    margin: 0px;
}

.wrapper{
     margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.padding-maintitle{
    padding: 2vw 6vw 2vw 6vw !important;
}

.section{
    width: 100%;
    min-height: 25vh;
    max-width: 100%;
    padding: 2vw;
    margin: 0vw 10vw 0vw 10vw;
}

.bg-foto{
    border-radius: 50%;
    width: 90vh;
    position: absolute;
    right: 10vw;
    top:-60px;
    filter: grayscale(100%) contrast(95%) brightness(0.65);
    
}