@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');


body{
	margin: 0px;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-315deg, #111127,#261740);
    color: white;
    overflow-x: hidden;
}

.container{
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px, 1fr));
    grid-gap: 0 40px;
    grid-template-rows: auto;
}

.container .box{
    position: relative;
    height: 450px;
    background: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin-bottom: 40px
}

.content{
    position: relative;
    padding: 20px;
}

.box .content h2{
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: rgb(255,255,255,.05);
    transition: 0.5s;
}

.box-shadow{
    -webkit-box-shadow: 13px 11px 29px -14px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 11px 29px -14px rgba(0,0,0,0.75);
box-shadow: 13px 11px 29px -14px rgba(0,0,0,0.75);
}

.text-shadow{
    text-shadow: 1px 1px 8px rgba(102, 105, 100, 0.82);
}

.box:hover .content h2{
    top: -120px;
}

.box .content h3{
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.box .content p{
    margin:0;
    padding: 0;
    color: white;
    font-size: 16px;
}

.box .content a{
    position: relative;
    margin: 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    color: white;
    transition: 0.5s;
    transform: translateY(-50px);
    opacity: 0;
    visibility: hidden;
    width: 106px;
    margin-bottom: 5px;
}

.box:hover .content a{
    transform: translateY(10px);
    opacity: 1;
    visibility: visible;
}

.box .content a:hover{
    color: black;
    background: #fff;
}


.container .box:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform: skew(2deg,2deg);
    z-index: -1;
}

.container .box:nth-child(1):before{
    background: linear-gradient(315deg, #89ff00,#00bcd4);
}
.container .box:nth-child(2):before{
    background: linear-gradient(315deg, #e91e63,#5d02ff);
}
.container .box:nth-child(3):before{
    background: linear-gradient(315deg, #ff0000,#ffc107);
}
.Typewriter__cursor{
    color: white;    
    font-size: 26px
}

.Typewriter__wrapper{
    font-size: 26px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.main-title{
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    height: 60vh;
    position: relative;
}
.gradient{
    background-image: linear-gradient(90deg, #e91e63,#5d02ff);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
    width: 250px;
}

.main-title-text{
    position: absolute;
    bottom: 0;
    margin-bottom: 13vh;
}

.main-title h2{
    margin: 0px;
    line-height: 1.2;
    
}

.wrapper{
     margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.padding-maintitle{
    padding: 2vw 6vw 2vw 6vw !important;
}

.section{
    min-height: 25vh;
    max-width: 100%;
    padding: 2vw;
    margin: 0vw 10vw 0vw 10vw;
}

.section-cards{
     min-height: 25vh;
    max-width: 100%;
    padding: 2vw;
    margin: 0vw 10vw 0vw 10vw;
}

.bg-foto{
    border-radius: 50%;
    width: 90vh;
    position: absolute;
    right: -29vw;
    top:-60px;
    filter: grayscale(100%) contrast(95%) brightness(0.65);
    z-index: -1;
}

.inverted-section-container{
    background: #5400a7;
    padding-top: 20px;
    margin-top: -10px;    
}
.inverted-section{
    background: #5400a7;
}

//progress bar
::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-thumb {
	display: none;
}

progress {
	position: fixed;
	left: 0;
	top: 0px;
	width: 100%;
	height: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background-color: transparent;
	color: #9a12e4;
	z-index: 10;
}

progress::-webkit-progress-bar {
	background-color: transparent;
	z-index: 10;
}

progress::-webkit-progress-value {
	background: #5d02ff;
	z-index: 10;
}

progress::-moz-progress-bar {
	background: #5d02ff;
	z-index: 10;
}

.progress-container {
	width: 100%;
	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	height: 5px;
	display: block;
	z-index: 10;
}

.progress-bar {
	background-color: #D4AF37;
	width: 0%;
	display: block;
	height: inherit;
	z-index: 10;
}
//
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

svg>*{
	overflow-x: hidden;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
	width: 100%;
  }
  h1 {
    font-size: 24px;
  }
}