<div class="text-center icon-container">
  <div class="align-middle d-none d-md-block">
    <!-- <p class="m-0 fs-1 text-center icon-bg">{{icon}}</p> -->
    <img [src]="icon" width="100%" class="mt-0 mb-0 pb-4 text-white icon-bg">
    <h1 class="number-text">{{symbol + number}}</h1>
    <h5 class="fs-5 d-block d-lg-block d-md-none">{{text}}</h5>
    <p class="fs-6  text-center d-none d-lg-none d-md-block">{{text}}</p>
  </div>

  <div class="align-middle d-block d-md-none">
    <img [src]="icon" width="100%" class="mt-0 mb-0 pb-4 text-white icon-bg">
    <h1 class="number-text">{{symbol + number}}</h1>
    <h5 class="fs-5 d-block d-lg-block d-md-none">{{text}}</h5>
    <p class="fs-6  text-center d-none d-lg-none d-md-block">{{text}}</p>
  </div>
</div>
