.number-text {
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #7a58ff 40%, #c021ff 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5.5em;
  text-shadow: 0px 0px 40px rgba(178, 69, 255, 0.441);
}
