@import '../../app-theming.scss';

.number-text {
  font-weight: bold;
  background: var(--yo-exp-number-background);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5.5em;
  text-shadow: var(--yo-exp-number-text-shadow);
}
