
<div class="row">
  <div class="p-3 pt-0 pb-0 col-md-6">
    <h1 class="mb-0">👋🏼 I'am Krystian Zakryś</h1>
    <div class="loader mb-4">
      <div class="words">
        <span class="word">Fullstack Developer</span>
        <span class="word">Azure Solutions Architect Expert</span>
        <span class="word">DevOps Engineer Expert</span>
        <span class="word">.NET Geek</span>
        <span class="word">UX/UI Passionate</span>
      </div>
    </div>
    <p class="fs-6">
      <span class="fw-light">Specializing in .NET development and creating responsive interfaces with Angular.
      As an Azure DevOps Expert and Solutions Architect,
      I bring expertise in cloud solutions and DevOps practices.</span>
      <br/><br/>
    </p>
    <p class="mt-5"><span>Let’s connect!</span></p>
    <div class="d-flex">
      <div>
          <button class="real-button"></button>
          <div class="backdrop"></div>
          <div class="button-container">
            <div class="spin spin-blur"></div>
            <div class="spin spin-intense"></div>
            <div class="backdrop"></div>
            <div class="button-border">
              <div class="spin spin-inside"></div>
              <div class="button">Contact with me</div>
            </div>
          </div>
      </div>
      <!-- <button class="btn btn-primary px-5 btn-custom-shadow" style="position: relative; z-index: 4;">
        <span>Contact with me</span>
      </button> -->
      <p class="align-middle m-3"> <span class="mx-2 "> or </span>
        <span class="ml-2">Scroll to know more. </span></p>
        <h1 class="">⤸</h1>
    </div>

  </div>
  <div class="col-md-5">
    <div class="image-wrapper">
      <img class=" w-100 h-100" src="../../assets/photo2.jpg" />
    </div>
  </div>
</div>
