
<div class="row">
  <div class="p-3 col-md-6">
    <h1>👋🏼 I'am Krystian Zakryś</h1>
    <p style="font-size: 14pt;">
      I specialize in .NET technology, and my experience with Angular allows
      me to create dynamic, responsive user interfaces. I also hold Azure
      DevOps Expert and Azure Solutions Architect Expert certifications,
      showcasing my expertise in cloud solutions and DevOps practices. If
      you're looking for a developer who combines solid backend skills with
      innovative cloud solutions, you're in the right place!
    </p>
    <br/>
    <div class="d-flex pt-4">
      <button class="shiny-cta">
        <span>Contact with me</span>
      </button>
      <p class="align-middle m-3"> <span class="mx-2 "> or </span>
        <span class="ml-2">Scroll further to know more. </span></p>
        <h1 class="">⤸</h1>
    </div>

  </div>
  <div class="offset-1 col-md-5">
    <div class="image-wrapper">
      <div></div>
      <img src="../../assets/bg-photo1v2.webp" class="img-bg-photo1">
      <img class="img-in image-1 w-100 h-100" src="../../assets/photo2.webp" />
      <img class="img-in image-2 w-100 h-100" src="../../assets/photo2.webp" />
      <img class="img-in image-3 w-100 h-100" src="../../assets/photo2.webp" />
      <img class="img-in image-4 w-100 h-100" src="../../assets/photo2.webp" />
    </div>
  </div>
</div>
