@import '../../app-theming.scss';

.image-wrapper {
  position: relative;
  -webkit-mask-image: linear-gradient(to right, #fff, #000);
  mask-image: linear-gradient(95deg, #ffffff00 15%, #000 45%);
  border-radius: 1em;
  transform: scale(1.25);
}


.loader {
  color: rgb(124, 124, 124);
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
  position: relative;
}
.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  font-weight: bold;
  background: -webkit-linear-gradient(120deg, #FC466B, #3F5EFB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: spin_4991 10s infinite;
}

@keyframes spin_4991 {
  0%{
    -webkit-transform: translateY(-2%);
    transform: translateY(-2%);
  }
  15%{
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  25% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  35% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  45% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  55% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  65% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  95% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}

.button-container {
  position: relative;
}

.button-border {
  padding: 2px;
  inset: 0;
  background: #f0131300;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.button {
  justify-content: center;
  align-items: center;
  border: none;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  width: 200px;
  height: 60px;
  background: var(--cta-background);
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
}

.real-button {
  position: absolute;
  width: 200px;
  height: 60px;
  z-index: 1;
  outline: none;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  opacity: 0;
}

.backdrop {
  position: absolute;
  inset: -9900%;
  background-size: 3px 3px;
  z-index: -1;
  height: 100%;
}

.spin {
  position: absolute;
  inset: 0;
  z-index: -2;
  opacity: var(--cta-spin-opacity);
  overflow: hidden;
  transition: 0.3s;
}

.real-button:active ~ div .spin {
  opacity: 1;
}

.spin-blur {
  filter: blur(2em) url(#unopaq);
}

.spin-intense {
  inset: -0.125em;
  filter: blur(0.25em) url(#unopaq2);
  border-radius: 0.75em;
}

.spin-inside {
  inset: -2px;
  border-radius: inherit;
  filter: blur(2px) url(#unopaq3);
  z-index: 0;
}

.spin::before {
  content: "";
  position: absolute;
  inset: -150%;
  animation:
    speen 8s infinite,
    woah 4s infinite;
  animation-play-state: running;
}

.spin-blur::before {
  background: linear-gradient(90deg, rgb(149, 0, 255) 30%, #0000 50%, #05f 70%);
}

.spin-intense::before {
  background: linear-gradient(90deg, rgb(164, 85, 255) 20%, #0000 45% 55%, #59f 80%);
}

.spin-inside::before {
  background: linear-gradient(90deg, rgb(202, 153, 255) 30%, #0000 45% 55%, #9cf 70%);
}

@keyframes speen {
  0% {
    rotate: 10deg;
  }
  50% {
    rotate: 190deg;
  }
  to {
    rotate: 370deg;
  }
}

@keyframes woah {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.75;
  }
}
