<div class="container mx-auto">
  <div class="row w-100 m-2 mb-5">
    <app-header class="mb-3"></app-header>
  </div>

  <div class="row mb-5">
    <div class="container p-2 m-5 d-lg-block d-none">
      <app-hello></app-hello>
    </div>
    <div class="container py-2 my-5 d-sm-block d-lg-none">
      <app-hello-mobile></app-hello-mobile>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-12 p-2 order-2 order-md-1">
      <div class="grid-item">
        <app-yo-exp symbol="+" [number]="7" text="years of experience" icon="✨"></app-yo-exp>
      </div>
    </div>
    <div class="col-md-3 col-12 p-2 order-1 order-md-2">
      <div class="grid-item">
        <app-yo-exp symbol="" [number]="8" text="commercial projects" icon="💸"></app-yo-exp>
      </div>
    </div>
    <div class="col-md-3 col-12 p-2 order-3">
      <div class="grid-item ">
        <app-yo-exp symbol="" [number]="4" text="satisfied clients" icon="🤩"></app-yo-exp>
      </div>
    </div>
    <div class="col-md-3 col-12 p-2 order-3">
      <div class="grid-item ">
        <app-yo-exp symbol="+" [number]="+4" text="Azure Certifications" icon="🌟"></app-yo-exp>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6  col-12 p-2">
      <div class="grid-item h-100">
        <app-skills></app-skills>
      </div>
    </div>
    <div class="col-md-6 col-12 p-2">
      <div class="grid-item">
        <app-timeline></app-timeline>
      </div>
    </div>
  </div>

  <div class="row pt-1">
    <div class="col-12 p-2">
      <div class="grid-item">
        <app-projects-carouselle></app-projects-carouselle>
      </div>
    </div>
  </div>

  <div class="row pt-1">
    <div class="col-md-4 col-12 p-2">
      <div class="grid-item">
        <h4>📣 Catch me on:</h4>
        <br/>
        <app-social-media></app-social-media>
      </div>
    </div>
    <div class="col-md-4 col-12 p-2">
      <div class="grid-item">
        <app-contact-me></app-contact-me>
      </div>
    </div>
  </div>
</div>

<footer class="text-center mt-5">
  <hr>
  <app-footer></app-footer>
</footer>
