<div class="mx-5">
  <h2 class="fs-2">👋🏼 I'am Krystian Zakryś</h2>
  <p>I specialize in .NET technology, and my experience with Angular allows me to create dynamic, responsive user interfaces. I also hold Azure DevOps Expert and Azure Solutions Architect Expert certifications, showcasing my expertise in cloud solutions and DevOps practices. If you're looking for a developer who combines solid backend skills with innovative cloud solutions, you're in the right place!</p>
</div>

<div class="m-5">
  <section id="skills">
    <h2 class="fs-2">My skills</h2>
    <div>
      <p>
        jakis skill
      </p>
    </div>
  </section>
</div>
