<div class="container mx-auto">
  <div class="row w-100">
    <app-header></app-header>
  </div>

  <div class="row">
    <div class="col-md-5 col-12 p-2">
      <div class="grid-item grid-item-gradient-light-leftTop h-100">
        <app-hello></app-hello>
      </div>
    </div>
    <div class="col-md-3 col-12 p-2">
      <div class="grid-item grid-item-photo2" style="height:350px;">
      </div>
    </div>
    <div class="col-md-4 col-12 p-2">
      <div class="grid-item grid-item-gradient-light-50-topBottom h-100">
        <app-yo-exp symbol="+" [number]="7" text="years of experience" icon="✨"></app-yo-exp>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 col-12 p-2">
      <div class="grid-item grid-item-gradient-light-50-leftBottom" style="height: 400px;">
        <app-skills></app-skills>
      </div>
    </div>
    <div class="col-md-3 col-12 p-2">
      <div class="grid-item grid-item-photo1" style="height: 400px;">
      </div>
    </div>
  </div>

  <div class="row pt-1">
    <div class="col-md-4 col-12 p-2 h-100">
      <div class="grid-item grid-item-gradient-light-50-leftTop">
        <app-yo-exp-small symbol="" [number]="8" text="commercial projects" icon="💸"></app-yo-exp-small>
        <app-yo-exp-small symbol="" [number]="4" text="satisfied clients" icon="🤩"></app-yo-exp-small>
      </div>
      <div class="grid-item grid-item-gradient-light-topBottom mt-3">
        <h4>📣 Catch me on:</h4>
        <app-social-media></app-social-media>
      </div>
    </div>

    <div class="col-md-8 col-12 p-2">
      <div class="grid-item grid-item-gradient-light-50-leftBottom">
        <app-timeline></app-timeline>
      </div>
    </div>
  </div>

  <div class="row pt-1">
    <div class="col-md-8 col-12 p-2">
      <div class="grid-item">
        <app-projects-carouselle></app-projects-carouselle>
      </div>
    </div>
    <div class="col-md-4 col-12 p-2">
      <div class="grid-item grid-item-gradient-light-50-leftBottom">
        <app-contact-me></app-contact-me>
      </div>
    </div>
  </div>
</div>

<footer class="text-center mt-5">
  <hr>
  <app-footer></app-footer>
</footer>
