<div class="row" style="height: 85vh; width: 100%;">
  <img class="img-mobile-start" src="../../assets/mobile-photo-start.webp">
  <div class="col-12 pt-5 my-4 text-center">
    <h1 class="mt-md-4 text-uppercase fw-light">THE </h1>
    <h1 class=" text-uppercase fw-bold"
    style="text-shadow: 0px 4px 15px rgb(0, 19, 42);"><b>Fullstack .NET & Angular Developer</b></h1>

    <h2>👋🏼 I'am Krystian Zakryś</h2>
    <p style="font-size: 14pt;">
      I specialize in .NET technology, and my experience with Angular allows
      me to create dynamic, responsive user interfaces. I also hold Azure
      DevOps Expert and Azure Solutions Architect Expert certifications,
      showcasing my expertise in cloud solutions and DevOps practices. If
      you're looking for a developer who combines solid backend skills with
      innovative cloud solutions, you're in the right place!
    </p>
    <br/>
    <div class="pt-4">
      <button class="shiny-cta">
        <span>Contact with me</span>
      </button>
      <p class="align-middle m-3"> <span class="mx-2 "> or </span>
        <span class="ml-2">Scroll further to know more. </span></p>
        <h1 class="">⤸</h1>
    </div>
  </div>


</div>
