<div class="row" style="height: 85vh;">
  <img class="img-mobile-start" src="../../assets/mobile-photo-start.webp">
  <div class="d-md-block d-sm-none mt-md-5"></div>
  <div class="col-12 pt-md-4 pt-sm-2  my-sm-3 my-md-5 text-center">
    <h1 class="mt-md-5 text-uppercase fw-light">THE </h1>
    <h1 class=" text-uppercase fw-bold header-title"
    style="text-shadow: 0px 4px 15px rgb(0, 19, 42);"><b>Fullstack Developer</b></h1>


    <div class="mt-3 mt-md-5">
      <h2>👋🏼 I'am Krystian Zakryś</h2>
      <span class="fw-light fs-6">.NET development and creating responsive interfaces with Angular.
        As an Azure DevOps Expert and Solutions Architect,
        I bring expertise in cloud solutions and DevOps practices.</span>
        <br/>
        <br/>
      <br/>
      <div class="pt-md-3 mt-md-5">
        <span>Let’s connect!</span><br/>
        <div class="w-50 mx-auto my-4">
          <button class="real-button"></button>
          <div class="backdrop"></div>
          <div class="button-container">
            <div class="spin spin-blur"></div>
            <div class="spin spin-intense"></div>
            <div class="backdrop"></div>
            <div class="button-border">
              <div class="spin spin-inside"></div>
              <div class="button">Contact with me</div>
            </div>
          </div>
        </div>

        <p class="align-middle m-1"> <span class="mx-2 "> or </span></p>
        <p><span>Scroll to know more. </span><span class="fs-5">⤸</span></p>

      </div>
    </div>

  </div>


</div>
