

.skill-container {
  position: relative;
  display: inline-block;
}

.skill-btn {
   padding: 0.3em 1.5em;
   color: #ffffff;
  transition: background-color 0.3s ease;
  box-shadow: 0 0px 15px rgba(83, 146, 255, 0.35);
  margin: 0.25em;
}

.skill-btn:hover {
  background-color: #6b4dff80;
}

.skill-content {
  position: absolute;
  bottom: 140%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  width: 260px;
  background: linear-gradient(135deg, #461771 0%, #210788 100%);
  backdrop-filter: blur( 12px );
  -webkit-backdrop-filter: blur( 12px );
  color: #fff;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  border-radius: 15px;
  transition: all 0.4s ease;
  z-index: 1;
  box-shadow: 0px 10px 20px rgba(0, 123, 255, 0.3);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

.skill-container:hover .skill-content {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(-10px);
}

.skill-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #007bff;
  border-radius: 1em;
}

.skill-text {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
