body { font-family: Helvetica; }

$border-line: 1px solid #677784 ;
$border-item: 5px solid #b668ffb2;

div {
  margin: auto;
}

.timeline-item {

  border-top: $border-line;
  margin:0;
  padding: 24px 30px;
  margin-top: -1px;
}



.timeline-item:nth-child(even) {
  border-left: $border-item;
  border-bottom: $border-line;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  margin-right: 30px;
  padding-right: 0;
  background: linear-gradient(45deg, #b668ff34 1%, transparent 32%);
}

.timeline-item:nth-child(odd) {
  border-right: $border-item;
  border-bottom: $border-line;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  margin-left: 30px;
  padding-left: 0;
  background: linear-gradient(-45deg, #b668ff34 1%, transparent 32%);
}

.timeline-item:first-child {
  border-top: 0;
  border-top-left-radius: 1em;
  border-top-right-radius:0;
}

.timeline-item:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
