body { font-family: Helvetica; }

$border-line: 1px solid #677784 ;
$border-item: 5px solid #b668ffb2;

div {
  margin: auto;
}

.timeline-item {

  border-top: $border-line;
  margin:0;
  padding: 24px 30px;
  margin-top: -1px;
}



.timeline-item:nth-child(even) {
  border-left: $border-item;
  border-bottom: $border-line;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  margin-right: 30px;
  padding-right: 0;
  background: linear-gradient(45deg, #b668ff34 1%, transparent 32%);
}

.timeline-item:nth-child(odd) {
  border-right: $border-item;
  border-bottom: $border-line;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  margin-left: 30px;
  padding-left: 0;
  background: linear-gradient(-45deg, #b668ff34 1%, transparent 32%);
}

.timeline-item:first-child {
  border-top: 0;
  border-top-left-radius: 1em;
  border-top-right-radius:0;
}

.timeline-item:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

.text-justify{
  text-align: justify;
}

.timeline-row{
  min-height: 400px;
}

.timeline-row::before{
  content: "";
    border-radius: 1em !important;
    background-image: radial-gradient(#6201ff 50%, transparent 80%);
    box-shadow: 0px 0px 24px 0px #6201ff;
    border: 1px #677784 dashed;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
    border-radius: inherit;
    pointer-events: none;
    width: 30px;
    height: 30px;
    z-index: 1;
}

.col-with-timeline::before{
  content: "";
    border-radius: 1em !important;
    background-image: radial-gradient(#6201ffb2 50%, transparent 80%);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
    border-radius: inherit;
    pointer-events: none;
    width: 5px;
    z-index: -1;
    animation: timeline both;
    animation-timeline: view();
    animation-iteration-count: 1;
}

@keyframes timeline {
  40%{
    height: 0%;
  }
  80%{
    height: 100%;
  }
  100%{
    height: 100%;
  }
}



/* Background */
.timeline-bg::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 40%;
  top:1%;
  /* Add your background pattern here */
  background-color: transparent;
  background-image: radial-gradient(rgba(157, 92, 255, 0.47) 2px, transparent 0);
  background-size: 25px 25px;
  background-position: -14px -5px;
  mask-image: radial-gradient(#ffffff 20%, #00000000 55%);
  transform: rotate(15deg);
}
.timeline-bg{
  position: relative;
}
