<h2 class="text-start font-weight-bold">Experience</h2>
<div class="timeline" style="font-size: small;">
  <div class="timeline-item text-end">
    <h4><span style="font-size: 24pt;">🎓</span> Bachelor of Engineering</h4>
    <h5 class="timeline-time">2018</h5>
    <p class="timeline-text">Bachelor of Engineering degree in Computer Science from Bialystok University of Technology, where I developed a strong foundation in software development, algorithms, and modern IT solutions.</p>
    <p><a href="https://wi.pb.edu.pl/en/" class="timeline-link link-light">↗ Bialystok University of Technology</a></p>
  </div>
  <div class="timeline-item text-start">
    <h4>Fullstack Developer</h4>
    <h5 class="timeline-time">April 2018 – August 2020 · 2 years 5 months</h5>
    <p class="timeline-text">Fullstack Developer in the Research, Development, and Implementation of Electronic Services department, utilizing technologies like jQuery and .NET Framework.</p>
    <p><a href="https://zeto.bialystok.pl/" class="timeline-link link-light">↗ Centrum Informatyki ZETO S.A.</a></p>
  </div>
  <div class="timeline-item text-end">
    <h4>Fullstack Developer (.NET + Angular)</h4>
    <h5 class="timeline-time">September 2020 – Present  · {{ startDate | dateDifference:endDate }}</h5>
    <p class="timeline-text">Designed solutions for education, banking, and oil services, enhancing operations with scalable systems using microservices and Azure. Skilled in .NET for backend and Angular for responsive, dynamic frontends.</p>
    <p><a href="https://www.altkomsoftware.com/" class="timeline-link link-light">↗ Altkom Software</a></p>

  </div>
  <br>
</div>
