<h2 class="text-center font-weight-bold my-5 text-capitalize">Here's my timeline of experience</h2>
<div class="container pt-5 mt-5 timeline-bg">
  <div class="timeline-row-container" *ngFor="let position of positions; let i = index">
    <div class="row animate__animated timeline-row"
    [class.animate__bounceOutRight]="i % 2 == 0"
    [class.animate__bounceOutLeft]="i % 2 != 0"><!-- -->
      <div class="col-12 col-md-6 text-center px-3 col-with-timeline pt-5 pt-md-0">
        <h1 *ngIf="position.date !== '2018'">{{ position.timeline }}</h1>
        <img *ngIf="position.date === '2018'" src="../../assets/icons/graduation.png">
        <h3 class="fw-light">{{ position.date }}</h3>
      </div>
      <div class="col-12 col-md-6 p-5 text-justify">
        <div class="">
          <h4>{{ position.title }}</h4>
          <p class="timeline-text text-justify" >{{ position.description }}</p>
          <p class="text-end"><a [href]="position.url" class="timeline-link">↗ {{ position.urlText}}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
