
<section id="certificates">
  <h2 class="fs-2">My certificates</h2>
  <div class="m-2 my-4">
    <!-- <div class="card-custom">
      <div class="card-custom-border-top">
      </div>
      <div class="img">
        <img src="../../assets/microsoft-certified-expert-badge.svg"
        title="Microsoft Certified: DevOps Engineer Expert"
        class="certification-badge"/>
      </div>
      <span> Microsoft Certified</span>
      <p class="job"> DevOps Engineer Expert</p>
      <a href="https://learn.microsoft.com/api/credentials/share/en-us/KrystianZakry-3302/5E40B9B15357EB39?sharingId=97F1767D36C2E56E"
      target="_blank"  class="timeline-link link-light"> Credential link </a>
    </div> -->
    <div class="card my-2" *ngFor="let cert of certs">
      <!-- <img src="../../assets/cert-bg.webp" class="bg-card"> -->
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-lg-3">
            <img [src]="cert.imageSrc"
              [title]="cert.from + cert.title"
              class="certification-badge"/>
          </div>
          <div class="col-12 col-lg-9 text-center text-md-start">
            <p class="fw-bold fs-5 mb-1 mt-3"> {{ cert.title }}</p>
            <span class="fw-light"> {{ cert.from }}</span> <br/>
            <a [href]="cert.credentialLink"
            target="_blank"  class="timeline-link link-light float-center float-md-end mt-2">↗ Credential link </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
