.certification-badge {
  max-width: 100%;
}

.card {
  background-color: #1c098714;
  border: 1px #4d3d7bbf solid;
  border-radius: 1em;
  box-shadow:  inset 0px 0px 34px -21px #7074aa9c;

  transition: 0.3s;
}

.card:hover{
  box-shadow:  inset 0px 0px 34px -21px #8187d49c;
  transform: scale(1.025);
}

.certificate-date{
  position: absolute;
  right: 0%;
  font-size: xx-small;
}
