<!-- HEADING -->
<!-- ========================================================================== -->
<h2 class="fs-2 my-5 text-center text-capitalize">Check out Some of the projects that I was part of</h2>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<div class="row pt-4">
  <div class="col-12 col-md-6">
    <swiper-container class="mySwiper" (any)="slideChanged()"
    effect="cards" pagination="true" navigation="true" style="min-height: 300px; height: 25em;">
      <swiper-slide>Slide 1</swiper-slide>
      <swiper-slide>Slide 2</swiper-slide>
      <swiper-slide>Slide 3</swiper-slide>
      <swiper-slide>Slide 4</swiper-slide>
      <swiper-slide>Slide 5</swiper-slide>
      <swiper-slide>Slide 6</swiper-slide>
      <swiper-slide>Slide 7</swiper-slide>
      <swiper-slide>Slide 8</swiper-slide>
      <swiper-slide>Slide 9</swiper-slide>
      </swiper-container>
  </div>
<div class="col-12 col-md-6 mt-5 mt-md-0">
  <div class="container mx-5 px-5 ">
    <div id="project-container-0" class="animate__animated">
      <h3 class="mb-0">Project 1</h3>
      <h4>Tech stack</h4>
      <p>Description of a project short...</p>
    </div>
    <div id="project-container-1" class="animate__animated animate__fadeOut">
      hehe
          </div>
  </div>
</div>
</div>


