<!-- HEADING -->
<!-- ========================================================================== -->
<h2 class="fs-2 my-5 text-center text-capitalize">Check out Some of the projects and products that I was part of</h2>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<div class="row py-5">
  <div class="col-12 col-md-6">
    <swiper-container class="mySwiper"
    effect="cards" pagination="true" navigation="true" style="min-height: 300px; height: 25em; width: 90%;">
      <swiper-slide *ngFor="let project of projects">
        <img [src]="project.imageUrl" class="slide-image">
      </swiper-slide>
      </swiper-container>
  </div>
<div class="col-12 col-md-6 mt-5 mt-md-0">
  <div class="container mx-0 mx-md-5 px-md-5 p-0 px-3 project-container w-100">
    <div *ngFor="let project of projects; let i = index " id="{{'project-container-'+ i}}"
      class="animate__animated project-item w-75"
      [class.animate__fadeOutDown]="i != 0">
      <div class="project-body">
        <h3 class="mb-0">{{ project.title }}</h3>
        <h5 class="fs-6 fw-lighter">{{ project.techStack }}</h5>
        <!-- <div class="d-md-none d-sm-none d-lg-block" *ngIf="project.github !== ''">
          <a class="Btn" [href]="project.github">
            <div class="sign"><img src="../../assets/tools/git.svg" width="24px" class="m-1"></div>
            <div class="text fs-6 mx-2">Repository</div>
          </a>
        </div> -->
        <p>{{ project.desc }}</p>
      </div>
      <div class="project-footer w-100">
        <a [href]="project.url" class="btn btn-md btn-outline-light w-100 mx-auto mx-lg-0">Checkout the project ➤</a><br/>
        <a [href]="project.github"  *ngIf="project.github !== ''"
         class="btn btn-md btn-outline-secondary my-2 w-100  mx-auto mx-lg-0">
          <img src="../../assets/tools/github.svg" height="16px" style="transform: translate(0, -2px);">  Repository
        </a>
      </div>
    </div>
  </div>
</div>
</div>


