<!-- HEADING -->
<!-- ========================================================================== -->
<h2 class="projects-h fs-2">My projects</h2>

<!-- MAIN -->
<!-- ========================================================================== -->
<div class="c">

  <input class="projects-input" type="radio" name="a" id="cr-1" checked>
  <label class="projects-label btn btn-outline-light" for="cr-1" style="--hue: 32"></label>
  <div class="ci" style="--z: 4">
    <div class="ch p-4 pt-5">
      <h2 class="mt-5" style="--h: 82; --s: 80%; --l: 90%">Look from inside?</h2>
      <p class="fs-5 mb-0">Abracadabra</p>
      <p class="fs-6 fw-light mb-4">Abracadabra</p>
    </div>

    <img src="https://images.unsplash.com/photo-1516655802732-dc776050098b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=500&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=700" alt="Snow on leafs">
  </div>

  <input class="projects-input" type="radio" name="a" id="cr-2">
  <label class="projects-label btn btn-outline-light" for="cr-2" style="--hue: 82"></label>
  <div class="ci" style="--z: 3">
    <div class="ch p-4 pt-5">
      <h2 class="mt-5" style="--h: 82; --s: 80%; --l: 90%">Look from inside?</h2>
      <p class="fs-5 mb-0">Abracadabra</p>
      <p class="fs-6 fw-light mb-4">Abracadabra</p>
    </div>

    <img src="https://images.unsplash.com/photo-1529761430595-036b79cb9d5e?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=500&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=700" alt="Trees">
  </div>


</div>
