<div class="my-5 py-5">
  <h2 class="fs-2 my-5 text-center text-capitalize">For more fun stuff about me push the lever ✌</h2>
  <div style="position: relative;" class="my-5 py-5">
    <div class="funSwitch-container">
      <input class="funSwitch-input" type="checkbox" (change)="switchFun()">
      <div class="funSwitch-handle-wrapper">
        <div class="funSwitch-handle">
          <div class="funSwitch-handle-knob"></div>
          <div class="funSwitch-handle-bar-wrapper">
            <div class="funSwitch-handle-bar"></div>
          </div>
        </div>
      </div>
      <div class="funSwitch-base">
        <div class="funSwitch-base-inside"></div>
      </div>
    </div>
  </div>

</div>

<div class="my-5 py-5" *ngIf="IsFun">
  <h2>To Be Implemented Soon...</h2>
</div>
