<div class="d-flex w-100 flex-wrap" >
  <div class="tools-item m-1">
    <div class="tools-card faq-button">
      <img src="../../assets/tools/FIGMA.svg" class="tools-s1"/>
      <span class="tooltip">Figma</span>
    </div>
  </div>
  <div class="tools-item m-1">
    <div class="tools-card">
      <img src="../../assets/tools/FIGMA.svg" class="tools-s3"/>
    </div>
  </div>
  <div class="tools-item m-1">
    <div class="tools-card">
      <img src="../../assets/tools/FIGMA.svg" class="tools-s1"/>
    </div>
  </div>
  <div class="tools-item m-1">
    <div class="tools-card">
      <img src="../../assets/tools/FIGMA.svg" class="tools-s3"/>
    </div>
  </div>
  <div class="tools-item m-1">
    <div class="tools-card">
      <img src="../../assets/tools/FIGMA.svg" class="tools-s1"/>
    </div>
  </div>
  <div class="tools-item m-1">
    <div class="tools-card">
      <img src="../../assets/tools/FIGMA.svg" class="tools-s2"/>
    </div>
  </div>
</div>
