
<!-- <div class="d-flex w-100 flex-wrap" >

  <div class="tools-item m-1">
    <div class="tools-card">
      <img src="../../assets/tools/FIGMA.svg" class="tools-s3"/>
    </div>
  </div>
  <div class="tools-item m-1">
    <div class="tools-card">
      <img src="../../assets/tools/FIGMA.svg" class="tools-s1"/>
    </div>
  </div>
  <div class="tools-item m-1">
    <div class="tools-card">
      <img src="../../assets/tools/FIGMA.svg" class="tools-s3"/>
    </div>
  </div>
  <div class="tools-item m-1">
    <div class="tools-card">
      <img src="../../assets/tools/FIGMA.svg" class="tools-s1"/>
    </div>
  </div>
  <div class="tools-item m-1">
    <div class="tools-card">
      <img src="../../assets/tools/FIGMA.svg" class="tools-s2"/>
    </div>
  </div>
</div> -->

<div class="slider">
	<div class="slide-track">
		<div class="slide" *ngFor="let tool of tools">
      <div class="m-1">
        <div class="row" style="width: 250px;">
          <div class="col-12">
            <figure class="text-center">
              <img [src]="tool.imageUrl" width="90" class="invert-on-light">
              <figcaption class="mx-3 mt-3 fs-5 text-center">{{tool.name}}</figcaption>
            </figure>
          </div>
        </div>
      </div>
		</div>
	</div>
</div>
