
<div class='row menu-container'>
    <div class="logo col-md-3">
        <span class="logo-text logo-first-line">Krystian</span>
        <br/>
        <span class="logo-text logo-second-line">Zakryś</span>
    </div>
    <div class='col-md-9' style="padding-left: 0px; padding-top: 15px;">
          <nav class="navbar navbar-expand-lg" style="padding: 0px;">
            <div class="container-fluid" style="padding-left: 0px;">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="#" style="padding-left: 0px;">Start</a>
                  <a class="nav-link" href="#">Wykształcenie</a>
                  <a class="nav-link" href="#">Umiejętności</a>
                  <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Doświadczenie</a>
                  <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Projekty</a>
                  <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Hobby</a>
                  <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Linki</a>
                </div>
              </div>
            </div>
          </nav>
        <div class="menu-separator"></div>
        <div class="float-right"><span class="menu-description">Programista .NET, który nie boi się ani backendu, ani frontendu.</span></div>
    </div>
</div>
