/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$bg-color: #09060e;
$bg-color-grid-item: #170f24;

$gradient-light-color1: #0b0913;
$gradient-light-color2: #110930;

$gradient-light-50-color1: #0c0913;
$gradient-light-50-color2: #19034d;
$gradient-light-50-color3: #5919b9;

// $gradient-hard-color1: ;
// $gradient-hard-color2: ;

body{
  background-color: $bg-color;
  font-family: "Fira Sans", serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

.grid-item {
  background-color:$bg-color-grid-item;
  border-radius: 1.2em;
  padding: 2em;
}
.grid-item-photo1{
  background-image: url(./assets/photo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-item-photo2{
  background-image: url(./assets/photo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-item-gradient-light-rightBottom{
  background: $gradient-light-color1;
  background-image: linear-gradient(to right bottom, $gradient-light-color1, $gradient-light-color2);
}
.grid-item-gradient-light-50-rightBottom{
  background: $gradient-light-color1;
  background-image: linear-gradient(to right bottom, $gradient-light-50-color1, $gradient-light-50-color2, $gradient-light-50-color3);
}
.grid-item-gradient-light-leftBottom{
  background: $gradient-light-color1;
  background-image: linear-gradient(to left bottom, $gradient-light-color1, $gradient-light-color2);
}

.grid-item-gradient-light-50-leftBottom{
  background: $gradient-light-color1;
  background-image: linear-gradient(to left bottom, $gradient-light-50-color1, $gradient-light-50-color2, $gradient-light-50-color3);
}

.grid-item-gradient-light-topBottom{
  background: $gradient-light-color1;
  background-image: linear-gradient(to bottom, $gradient-light-50-color1, $gradient-light-color2);
}

.grid-item-gradient-light-bottomTop{
  background: $gradient-light-color1;
  background-image: linear-gradient(to top, $gradient-light-color1, $gradient-light-color2);
}
.grid-item-gradient-light-50-topBottom{
  background: $gradient-light-color1;
  background-image: linear-gradient(to bottom, $gradient-light-50-color1, $gradient-light-50-color2, $gradient-light-50-color3);
}
.grid-item-gradient-light-25-topBottom{
  background: $gradient-light-color1;
  background-image: linear-gradient(to bottom, $gradient-light-50-color1, $gradient-light-50-color2);
}
.grid-item-gradient-light-50-bottomTop{
  background: $gradient-light-color1;
  background-image: linear-gradient(to top, $gradient-light-50-color1, $gradient-light-50-color2, $gradient-light-50-color3);
}

.grid-item-gradient-light-rightTop{
  background: $gradient-light-color1;
  background-image: linear-gradient(to right top, $gradient-light-color1, $gradient-light-color2);
}

.grid-item-gradient-light-50-rightTop{
  background: $gradient-light-color1;
  background-image: linear-gradient(to right top, $gradient-light-50-color1, $gradient-light-50-color2, $gradient-light-50-color3);
}
.grid-item-gradient-light-leftTop{
  background: $gradient-light-color1;
  background-image: linear-gradient(to left top, $gradient-light-color1, $gradient-light-color2);
}
.grid-item-gradient-light-50-leftTop{
  background: $gradient-light-color1;
  background-image: linear-gradient(to left top, $gradient-light-50-color1, $gradient-light-50-color2, $gradient-light-50-color3);
}

.grid-item-gradient-light-25-leftTop{
  background: $gradient-light-color1;
  background-image: linear-gradient(to left top, $gradient-light-50-color1, $gradient-light-50-color2);
}

.grid-item-gradient-light-25-rightTop{
  background: $gradient-light-color1;
  background-image: linear-gradient(to right top, $gradient-light-50-color1, $gradient-light-50-color2);
}

//Text Styles
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
$font-sans: 'Open Sans', sans-serif;

//Colors
$black: #34435E;
$white: #ffffff;

body {
  font-family: $font-sans;
}


// .timeline > div.timeline-item {
//   font-size: 0.9em;
//   line-height: 1.75em;
//   border-top: 3px solid;
//   border-image: linear-gradient(to right, #771cff 0%, #ff1ff0 100%);
//   border-image-slice: 1;
//   border-radius: 50%;
//   border-width: 5px;
//   margin: 0;
//   padding: 20px;
//   counter-increment: section;
//   position: relative;

//   //numbers
//   .timeline > &:before {
//     content: counter(section);
//     position: absolute;
//     border-radius: 50%;
//     padding: 10px;
//     height: 1.25em;
//     width: 1.25em;
//     background-color: $black;
//     text-align: center;
//     line-height: 1em;
//     color: $white;
//     font-size: 0.9em;
//   }
// }
// //odd number borders
// .timeline > div.timeline-item:nth-child(odd) {
//   border-right: 5px solid;
//   padding-left: 0;
//   border-radius: 50%;
//   &:before {
//     left: 100%;
//     margin-left: -20px;
//   }
// }
// //even number borders
// .timeline > div.timeline-item:nth-child(even) {
//   border-left: 5px solid;
//   padding-right: 0;
//   border-radius: 50%;
//   &:before {
//     right: 100%;
//     margin-right: -20px;
//   }
// }
// //handle first and last
// .timeline > div.timeline-item:first-child {
//   border-top: 0;
//   border-top-right-radius:50%;
//   border-top-left-radius:50%;
// }
// .timeline > div.timeline-item:last-child {
//   border-bottom-right-radius:50%;
//   border-bottom-left-radius:50%;
// }


.timeline-link{
  //background-image: linear-gradient(to right, #da09f5 0%, #5511f5 100%);
  color: $white; //transparent
  font-weight: bold;
  text-decoration: none;
//  background-clip: text;
}

.timeline-time{
  //background-image:  #ffffff 40%;
  color: rgba(255, 255, 255, 0.6); //transparent;
  //background-clip: text;
}

.timeline-text {
  opacity: 90%;
}
.icon-bg{
  position: relative;
  z-index: 5;
  font-size: 61pt;
}

.icon-container{
  z-index: 1;
}

.icon-bg::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7rem;
  height: 7rem;
  background-color: rgba(102, 37, 180, 0.20);
  border-radius: 50%;
  z-index: 2;
}
